{% include 'head_index.html' %}
{% include 'menu.html' %}
    <div class="row">
        <div class="twelve columns">
            <h3>Acerca de mi</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p>
            Soy un ingeniero de software que disfruta el enfoque y la lógica detrás de cada línea de código que escribo.
            </p>
            <p>Tengo experiencia en desarrollo web full stack y automatización de las cosas, pero también desarrollo aplicaciones de escritorio, scripts y videojuegos como proyectos paralelos.</p>
            <p>Me encanta programar cualquier cosa, me gusta aprender dia a dia y soy un fanatico del software libre.</p>

        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h3>Experiencia</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p>Full Stack Developer 2020 - 2022</p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h3>Contacto</h3>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <a href="https://github.com/zjairo" target="_blank">GitHub</a> - <a href="https://www.youtube.com/channel/UC3Zxq2C-1m0jOKGDT0Fbrbw" target="_blank">Youtube</a> - <a href="https://discord.gg/xgNYquK6Vc" target="_blank">Discord</a>
        </div>
    </div>

    {% include 'foot.html' %}