{% include 'head_index.html' %}
<p>
    Estoy interesado en trabajar en proyectos de software, si tienes algún proyecto en mente ponte en contacto conmigo.
</p>
    <i class="fa fa-envelope fa-fw"></i> E-mail:<br>
    <a href="mailto:hello@zjairo.com" target="">hello@zjairo.com</a><br><br>
    <i class="fab fa-github-alt"></i> GitHub:<br>
    <a href="https://github.com/zjairo" target="_blank">zjairo</a><br><br>
    <i class="fab fa-discord"></i> Discord:<br>
    <a href="https://discord.gg/mexicodev" target="_blank">mexicodev</a><br><br> 
{% include 'foot.html' %}
