{% include 'head_index.html' %}
<p>
    Si te gustaría apoyar de alguna forma mis contribuciones, puedes realizar una donación en cualquiera de estas opciones, lo cual me ayudará bastante a mejorar mi contenido y motivarme a realizar más de este.
</p>
<ul>
    <li>
        Si usas el navegador Brave puedes enviar BAT a esta web directamente.
    </li>
    <li>
        <i class="fas fa-coffee"></i> Buy me a coffee: <a href="https://www.buymeacoffee.com/zJairO" target="_blank">zjairo</a>
    </li>
    <li>
        <i class="fab fa-bitcoin"></i> BitCoin: <a href="https://btcscan.org/address/bc1q003y9pr2c6gz72dw7cagsgd397nuwvq4gdp29x" target="_blank">bc1q003y9pr2c6gz72dw7cagsgd397nuwvq4gdp29x</a>
    </li>
</ul>
    
{% include 'foot.html' %}